
* {
font-family: 'Quicksand', sans-serif;
color: #F7F8F0;
}

body {
margin: 0;
background-color: #F7F8F0;
}

.logo-container {
display: flex;
align-items: center;
gap: 10px;
}

#komorebi {
width: 100%;
max-width: 120px;
height: auto;
}

.title {
font-size: 30px;
font-weight: normal;
font-family: 'Pacifico', cursive;
margin: 0;
}

.content-title {
font-size: 40px;
font-weight: normal;
font-family: 'Pacifico', cursive;
margin: 0;
color: #6F4E37;
text-align: center;
}


header {
background-color: #6F4E37;
display: flex;
align-items: center;
padding: 20px 40px;
justify-content: space-between;
border-bottom: solid #F7F8F0 2px;
}

#menu-toggle {
display: none;
}

.hamburger {
display: none;
font-size: 30px;
cursor: pointer;
color: #F7F8F0;
}

nav {
display: flex;
justify-content: center;
align-items: center;
gap: 40px;
width: 100%;
flex: 1;
}

.navtxt {
text-decoration: none;
font-size: 20px;
transition: 0.3s;
}

.navtxt:hover {
color: #FFD27F;
transform: translateY(-5px);
}

.icon {
width: 100%;
max-width: 30px;
height: auto;
transition: 0.3s;
}

.icon:hover {
filter: brightness(0) saturate(100%) invert(78%) sepia(31%) saturate(536%) hue-rotate(2deg) brightness(105%) contrast(101%);
transform: translateY(-5px);
}

footer {
background-color: #6F4E37;
display: flex;
align-items: flex-start;
padding: 20px 70px;
justify-content: left;
gap: 40px;
margin-top: 50px;
}

h4 {
font-size: 25px;
margin: 0;
}

#location {
margin-top: 0;
}

.footer-line {
display: inline-block;
width: 100px;
border-top: solid #F7F8F0 1px;
margin-top: 10px;
margin-bottom: 10px;
}

#links-list {
list-style-type: none;
padding: 0;
margin: 0;
text-align: left;
}

a {
text-decoration: none;
transition: transform 0.9s ease;
}

a:hover {
color: #FFD27F;
}

.footer-icon {
width: 100%;
max-width: 20px;
height: auto;
margin-right: 5px;
}

#contact {
align-items: center;
gap: 5px;
}

#news-text {
padding: 5px;
border-radius: 10px;
margin: 10px 0;
} 

#news-button {
background-color: #F7F8F0;
color: #6F4E37;
font-size: 15px;
border-radius: 10px;
cursor: pointer;
transition: transform 0.3s ease;
padding: 5px;
}

#news-button:hover {
background-color: #A67B5B;
color: #F7F8F0;
}

@media(max-width: 768px){

header {
flex-direction: column;
margin: 0;
gap: 30px;
text-align: center;
align-items: center; 
}

nav {
flex-direction: column;
gap: 20px;
text-align: center;
}

.logo-container {
flex-direction: column;
}

.products {
flex-direction: column;
align-items: center;
}

footer {
background-color: #6F4E37;
display: flex;
align-items: center;      
justify-content: center; 
text-align: center;      
padding: 20px 70px;
gap: 40px;
margin-top: 50px;
flex-direction: column;
}

#contact {
display: flex;
align-items: center;
justify-content: center; 
gap: 5px;
flex-direction: column
}

#links-list {
list-style-type: none;
padding: 0;
margin: 0;
text-align: center; 
flex-direction: column;
}

}

#beginning {
margin-top: 50px;
display: flex;
flex-direction: column;
align-items: center;
}

.image-carousel {
display: flex;
align-items: center;
gap: 20px;
margin: auto;
margin-top: 40px;
}

.slide-img {
max-width: 400px;
height:  400px;
object-fit: cover;
display: block;
align-items: center;
transition: 0.3s;
}

.slide-img:hover {
transform: translateY(-5px);
}

#meaning {
margin-top: 10px;
display: flex;
flex-direction: column;
align-items: center;
}

.meaning-container {
max-width: 1000px;
margin: auto;
border: solid #6F4E37 2px;
border-radius: 15px;
gap: 30px;
display: flex;
margin-top: 30px;
transition: 0.3s;
}

.meaning-container:hover {
transform: translateY(-5px);
}

.meaning-info {
flex: 1;
}

.display-img {
max-width: 300px;
height: auto;
}

.content-text {
color: #6F4E37;
}

h3.content-text {
font-size: 30px;
}

#story {
margin: 20px 80px;
max-width: 1100px;
}

.story-text {
font-size: 17px;
color: #6F4E37;
text-align: center;
}

@media(max-width: 768px){

header {
flex-direction: column;
margin: 0;
gap: 30px;
text-align: center;
align-items: center; 
}

.hamburger {
display: block;
}

nav {
display: none;
flex-direction: column;
gap: 20px;
width: 100%;
background-color: #6F4E37;
padding: 20px 0;
}

#menu-toggle:checked ~ nav {
display: flex;
}

.logo-container {
flex-direction: column;
}

#beginning{
flex-direction: column;
}

.slide-img {
width: 400px;
height:  400px;
object-fit: cover;
display: block;
align-items: center;
transition: 0.3s;
}

.image-carousel {
flex-direction: column;
gap: 20px;
}

#meaning {
flex-direction: column
}

.meaning-container {
flex-direction: column;
gap: 10px;
align-items: center;
padding: 15px;
text-align: justify;
}

h3.content-text {
text-align: center;
}


footer {
background-color: #6F4E37;
display: flex;
align-items: center;      
justify-content: center; 
text-align: center;      
padding: 20px 70px;
gap: 40px;
margin-top: 50px;
flex-direction: column;
}

#contact {
display: flex;
align-items: center;
justify-content: center; 
gap: 5px;
flex-direction: column
}

#links-list {
list-style-type: none;
padding: 0;
margin: 0;
text-align: center; 
flex-direction: column;
}

}
