/* STYLE FOR HOMEPAGE */

* {
font-family: 'Quicksand', sans-serif;
color: #F7F8F0;
box-sizing: border-box;
}

body {
margin: 0;
background-color: #F7F8F0;
}

.logo-container {
display: flex;
align-items: center;
gap: 10px;
}

#komorebi {
width: 100%;
max-width: 120px;
height: auto;
}

.title {
font-size: 30px;
font-weight: normal;
font-family: 'Pacifico', cursive;
margin: 0;
}

.content-title {
font-size: 40px;
font-weight: normal;
font-family: 'Pacifico', cursive;
margin: 0;
color: #6F4E37;
text-align: center;
}

header {
background-color: #6F4E37;
display: flex;
align-items: center;
padding: 20px 40px;
justify-content: space-between;
border-bottom: solid #F7F8F0 2px;
}

nav {
display: flex;
justify-content: center;
align-items: center;
gap: 40px;
width: 100%;
flex: 1;
}

.navtxt {
text-decoration: none;
font-size: 20px;
transition: 0.3s;
}

.navtxt:hover {
color: #FFD27F;
transform: translateY(-5px);
}

.icon {
width: 100%;
max-width: 30px;
height: auto;
transition: 0.3s;
}

.icon:hover {
filter: brightness(0) saturate(100%) invert(78%) sepia(31%) saturate(536%) hue-rotate(2deg) brightness(105%) contrast(101%);
transform: translateY(-5px);
}

.right-hero {
display: flex;
align-items: center;
justify-content: right;
gap: 5px;
}

.hero-section {
display: flex;
height: 100vh;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
margin-top: 0;
padding-top: 130px;
padding-right: 150px;
background-image: url('img/hero.jpg');
justify-content: flex-end;
align-items: flex-start; 
}

#hero-img {
width: 100%;
height: auto;
display: block;
}

.txt-sect {
width: 400px;
text-align: justify;
background-color: #6F4E37;
padding: 20px;
border-radius: 12px;
display: inline-block;
transform: rotate(-5deg);
}

.article-wrapper {
background: repeating-linear-gradient(
45deg,
#A67B5B,
#A67B5B 15px,
#E4D3CF 15px,
#E4D3CF 30px
);
padding: 10px;
border-radius: 20px;
display: inline-block;
box-shadow: 0 20px 40px rgba(0,0,0,0.3);
transform: rotate(5deg);
}

button {
background-color: #F7F8F0;
color: #6F4E37;
font-size: 15px;
padding: 10px 20px;
border-radius: 15px;
font-weight: bold;
cursor: pointer;
transition: transform 0.3s ease;
}

button:hover {
background-color: #A67B5B;
color: #F7F8F0;
}

.middle {
margin-top: 50px;
align-items: center;
}

.products {
display: flex;
align-items: stretch;
justify-content: center;
gap: 40px;
margin-top: 30px;
}

.product-info {
width: 300px;
text-align: justify;
border: solid #6F4E37 2px;
border-radius: 15px;
padding: 20px;

display: flex;
flex-direction: column;

transition: transform 0.3s ease;
}

.product-info:hover {
background-color: #6F4E37;
transform: translateY(-5px);
}

.product-info:hover .product-title,
.product-info:hover .product-txt {
color: #F7F8F0;
}

.product-txt {
color: #6F4E37;
transition: color 0.3s ease;
}

.product-title {
color: #6F4E37;
transition: color 0.3s ease;
text-align: center; 
}

.product-img {
width: 100%;
max-width: 250px;
height: auto;
display: block;
margin: 0 auto;
}

footer {
background-color: #6F4E37;
display: flex;
align-items: flex-start;
padding: 20px 70px;
justify-content: left;
gap: 40px;
margin-top: 50px;
}

h4 {
font-size: 25px;
margin: 0;
}

#location {
margin-top: 0;
}

.footer-line {
display: inline-block;
width: 100px;
border-top: solid #F7F8F0 1px;
margin-top: 10px;
margin-bottom: 10px;
}

#links-list {
list-style-type: none;
padding: 0;
margin: 0;
text-align: left;
}

a {
text-decoration: none;
transition: transform 0.9s ease;
}

a:hover {
color: #FFD27F;
}

.footer-icon {
width: 100%;
max-width: 20px;
height: auto;
margin-right: 5px;
}

#contact {
align-items: center;
gap: 5px;
}

#news-text {
padding: 5px;
border-radius: 10px;
margin: 10px 0;
} 

#news-button {
background-color: #F7F8F0;
color: #6F4E37;
font-size: 15px;
border-radius: 10px;
cursor: pointer;
transition: transform 0.3s ease;
padding: 5px;
}

#news-button:hover {
background-color: #A67B5B;
color: #F7F8F0;
}

#menu-toggle {
display: none;
}

.hamburger {
display: none;
font-size: 30px;
cursor: pointer;
color: #F7F8F0;
}

@media(max-width: 768px){

header {
flex-direction: column;
margin: 0;
gap: 30px;
text-align: center;
align-items: center; 
}

nav {
display: none;
flex-direction: column;
gap: 20px;
width: 100%;
background-color: #6F4E37;
padding: 20px 0;
}

.hero-section {
height: auto;
padding: 60px 20px;
justify-content: center;
}

.article-wrapper {
transform: none;
}

.txt-sect {
width: 100%;
transform: none;
}

.logo-container {
flex-direction: column;
}

.products {
flex-direction: column;
align-items: center;
}

footer {
background-color: #6F4E37;
display: flex;
align-items: center;      
justify-content: center; 
text-align: center;      
padding: 20px 70px;
gap: 40px;
margin-top: 50px;
flex-direction: column;
}

#contact {
display: flex;
align-items: center;
justify-content: center; 
gap: 5px;
flex-direction: column
}

#links-list {
list-style-type: none;
padding: 0;
margin: 0;
text-align: center; 
flex-direction: column;
}

.hamburger {
display: block;
}

#menu-toggle:checked ~ nav {
display: flex;
}

}

